.card{
    margin:20px 10px;
    border-width:1px 0;border-color:#fff;border-style:solid;
    transition:border-color 250ms,padding 250ms;
}
.card .details{
    height:0;overflow:hidden;
    opacity:0;
    transition:opacity 500ms;
}

.card.open{
    border-color:#eee;
    padding:10px 0;
}
.card.open .details{
    height:auto;
    opacity:1;
}

.count{
    width:48px;height:48px;
    font-size:24px;line-height:48px;
    background-color: var(--ion-color-success);
    border-radius:8px;
    text-align: center;
    color:#fff;
}
.count.semifull{
    background-color: var(--ion-color-warning);
}
.count.full{
    background-color: var(--ion-color-danger);
}

.timestamp{opacity:.5;font-size:.8em;}

.chart{height:200px;margin-bottom:20px;}
.chart .hour{position:relative;float:left;height:100%;box-sizing: border-box;border:2px solid #fff;}
.chart .hour .occupied{position:absolute;bottom:0;left:0;right:0;background-color:#000;}
.chart .hour .label{position:absolute;top:100%;left:0;right:0;text-align:center;font-size:.5em;padding-top:5px;}