<ion-app>

  <ion-menu side="start">
    <ion-header translucent>
      <ion-toolbar color="secondary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-label (click)="openPage('/my-lots')">Moje parkoviště</ion-label>
        </ion-item>
        <ion-item>
          <ion-label (click)="openPage('/lots-map')">Mapa</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>